<!-- Default form contact -->
<form class="col-6 mx-auto p-4" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <p class="h2 pb-4">Contact us</p>

  <!-- Name -->
  <input type="text" formControlName="name" class="form-control mb-4" placeholder="Name">
  <app-field-validation [fieldControl]="contactForm.get('name')"></app-field-validation>
  <!-- Email -->
  <input type="email" formControlName="email" class="form-control mb-4" placeholder="E-mail">
  <app-field-validation [fieldControl]="contactForm.get('email')"></app-field-validation>


  <!-- Subject -->
  <select formControlName="subject" class="custom-select mb-4">
    <option value="" disabled>Choose option</option>
    <option value="1" selected>Feedback</option>
    <option value="2">Report a bug</option>
    <option value="3">Feature request</option>
    <option value="4">Feature request</option>
  </select>
  <app-field-validation [fieldControl]="contactForm.get('subject')"></app-field-validation>


  <!-- Message -->
  <textarea formControlName="message" class="form-control mb-4" rows="3" placeholder="Message"></textarea>
  <app-field-validation [fieldControl]="contactForm.get('message')"></app-field-validation>


  <!-- Send button -->
  <button type="submit" class="btn btn-info">Send</button>

</form>
<!-- Default form contact -->
