<div class="text-danger" *ngIf="fieldControl?.touched">
  <div *ngIf="fieldControl?.errors?.required">
    Field is required.
  </div>
  <div *ngIf="fieldControl?.errors?.email">
    Email format not correct.
  </div>
</div>
